/* Base styles */
body, h1, h2, nav ul, nav ul li, main, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #90C7E3;
}

header, nav, main, footer {
    display: block;
    width: 100%;
}

header {
    background: navy;
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav ul li {
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
}

nav a {
    text-decoration: none;
    color: darkblue;
    display: block;
}

main {
    padding: 1em;
}

footer {
    background: navy;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Media queries for Medium display */
@media (min-width: 600px) {
    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li {
        border: none;
    }

    main {
        width: 80%;
        margin: auto;
    }
}

/* Media queries for Large display */
@media (min-width: 1024px) {
    body {
        background-image: linear-gradient(to bottom, #FFFFFF 20%, #90C7E3 60%, #FFFFFF 100%);
    }

    header, nav, main, footer {
        width: 80%;
        margin: auto;
    }

    nav ul {
        padding: 0;
        justify-content: space-between;
    }

    nav ul li {
        width: auto;
        padding: 1em;
    }

    nav a {
        padding: 0.5em;
    }

    main {
        width: 100%;
    }

    footer {
        font-size: 1em;
    }

    /* Additional styles for larger displays */
    header h1 {
        font-size: 2em;
    }

    main h2 {
        font-size: 1.5em;
    }
}

/* Styles for telephone number display */
#mobile {
    display: inline;
}

#desktop {
    display: none;
}

/* Reverse the display properties for larger screens */
@media (min-width: 600px) {
    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }
}

